{% extends "base-admin.html" %}
{% load i18n %}
{% load static %}

{% block head_js %}
<script src="{% static 'js/dropzone.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/dropzone.min.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'css/w3.css' %}"/>
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
<link rel="stylesheet" src="{% static '/datatables/datatables_style.css' %}"></link>
<style>
label {
    color: #555555;  /* Dark grey color */
}
<style>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
<script>
$(document).ready(function() {
    $('#filterservice').DataTable({
        "columnDefs": [
            { "orderable": false, "targets": [] } // Disable sorting for columns 4, and 5
        ]
    });
});

</script>
{% endblock %}

{% block app_content %}
{% load crispy_forms_tags %}  

    <div class="py-vh-6 bg-gray-100 text-light w-100 overflow-hidden" id="workwithus">
      <div class="container">
        
          <div class="row d-flex justify-content-center text-center">
            <div class="col-lg-10 text-center" data-aos="fade">
				<p class="text-secondary lead">{% translate "Create new Reel category" %}</p>				
				<a class="btn btn-success btn-xl shadow me-3 mt-4" data-aos="fade-down" href="{% url 'new_rcat' %}">{% translate "New" %}</a>
			</div>

          </div>

        
      </div>
    </div>
	
	<div class="py-vh-6 bg-gray-300 text-light w-100 overflow-hidden" id="workwithus">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="row d-flex justify-content-center text-center">
            <div class="col-lg-8 text-center" data-aos="fade">
              <!--<p class="text-secondary lead">{% translate "All publications:" %}</p>-->
              <h2 class="display-6 mb-5">{% translate "All data:" %}</h2>
            </div>
            <div class="col-12">
              <table class="table table-responsive text-nowrap" style="" id="filterservice">
				<thead>
					<tr class="table-dark">
					  <th scope="col">#</th>
					  <th scope="col">{% translate "In Russian" %}</th>
					  <th scope="col">{% translate "In English" %}</th>
					  <th scope="col">{% translate "Action" %}</th>
					</tr>
				</thead>
				<tbody>
					{% for s in rcat_data %}
					<tr class="table-dark">
					  
					  <th scope="row">{{ s.id }}</th>
					  <td>{{ s.title | truncatechars:20 }}</td>
					  <td>{{ s.en | truncatechars:20 }}</td>
					  <td><a class="btn btn-success btn-sm" href="{% url 'edit_rcat' entry=s.id %}" role="button">{% translate "Edit" %}</a>
					      <a class="btn btn-danger btn-sm" href="{% url 'delete_rcat' entry=s.id %}" role="button">{% translate "Delete" %}</a>
					  </td>
					</tr>
					{% endfor %}
				</tbody>
			  </table>
            </div>
          </div>

        </div>
      </div>
    </div>
  {% endblock %}