{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block head_js %}
<style>
.banner-area {
	background: url({{ head.image.url }}) center;   /* background image */
	{% if head.height != 0 %}
	height: {{ head.height }}px;      /* header height */
	{% else %}
	/* no height since its 0 */
	{% endif %}
	background-size:cover
	}
@media (max-width: 767.98px) {
	.banner-area.fullscreen {
		height:700px !important
		}
	}
	.banner-area .primary-btn {
		padding-left:30px;
		padding-right:30px
	}
	.banner-area .overlay-bg {
		background-color:rgba(4,9,30,0.7);
		z-index: 1
	}
	.banner-content {
		position: relative;
		text-align:center;
		z-index: 2
	}
	.banner-content h1 {
	color:#fff;
	font-size:48px;
	font-weight:700;
	line-height:1em;
	margin-top:20px;
	margin-bottom:20px
	}
	@media (max-width: 414px) {
	.banner-content h1 {
		font-size:25px
		}
		}
	.banner-content p { 
	max-width:900px
	}

.cont2 {
  position: relative;
  {% if head.top != 0 %}
  top: {{ head.top }}px;      /* distance of header from top */
  {% else %}
  /* no top since 0 */
  {% endif %}
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.video-thumbnail {
    position: relative;
    #width: 100%;
    height: auto;
    background-color: #f3f3f3; /* Light grey background for loading state */
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-thumbnail .loading-spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top: 4px solid #3498db; /* Blue color */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

/* Keyframes for spin animation */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.video-thumbnail video {
    display: none; /* Hide video until it's loaded */
}

.video-thumbnail.loaded video {
    display: block; /* Show video when it's loaded */
}

.video-thumbnail.loaded .loading-spinner {
    display: none; /* Hide spinner when video is loaded */
}
</style>

{% endblock %}

{% block app_content %}
{% load crispy_forms_tags %}  
{% get_current_language as LANGUAGE_CODE %}

<!-- start banner Area -->
<section class="banner-area relative" id="home">
	<div class="overlay overlay-bg"></div>
	<div class="container cont2">
		<div class="row justify-content-center align-items-center">
			<div class="banner-content col-lg-9 col-md-12 justify-content-center ">
				<h1>
					{{ head.title }}	
				</h1>
				<p class="text-white mx-auto">
					{{ head.short }}
				</p>
			</div>											
		</div>
	</div>
</section>
<!-- End banner Area --> 

<!-- Start service Area
<section class="service-area section-gap" id="service">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-12 pb-20 header-text text-center">
				<h1 class="mb-10">What we offer to our clients</h1>
				<p>
					Who are in extremely love with eco friendly system..
				</p>
			</div>
		</div>						
		
	</div>	
</section>
End service Area -->


<!-- Start brands Area -->
<section class="brands-area pb-60 pt-60">
	<div class="container">
		<div class="brand-wrap">
			<div class="row align-items-center justify-content-start no-gutters">
				{% for c in clients %}
					{% if c.published %}
						<div class="col-lg-2 single-brand pb-60">
							<a href="https://{{ c.url }}" target="_blank"><img class="mx-auto" src="{{ c.image.url }}" alt=""></a>
						</div>
					{% endif %}
				{% endfor %}
										
			</div>																			
		</div>
	</div>	
</section>
<!-- End brands Area -->				
			
			



{% endblock %}